* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: lightgrey;
  font-size: 14px;
  line-height: 1.3;
}

#root {
  margin: 0 auto;
  max-width: 767px;
}

@media screen and (max-width: 768px) {
  #root {
    margin: 0 25px;
  }
}
